<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muhammedsafaroff.dersbirlesm1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4763830311171299~4846897453"/>

        <activity
            android:name=".QuizResultActivity"
            android:theme="@style/QuizResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuizActivity"
            android:theme="@style/quiz"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ZamanOyunuResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ZamanOyunuActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".AltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".DogruYanlisResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".DogruYanlisActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".BirAd4SekilResultActivity"
            android:theme="@style/dordsekil1adresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BirAd4SekilActivity"
            android:theme="@style/dordsekil1ad"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BirSekil4AdActivity"
            android:theme="@style/birsekil4ad"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BirSekil4AdResultActivity"
            android:theme="@style/birsekil4adresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>